<% include header %>
<h2>Fitness App - <%= user.Username %>'s Home</h2>
<div id="workouts">
    <% if (workouts) { %>
        <h3>Workouts</h3>

        <table>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Time of Day</th>
                <th>Location</th>
            </tr>

            <% for (var i = workouts.length - 1; i >= 0; i--) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= workouts[i].Date %></td>
                    <td><%= workouts[i].TimeOfDay.charAt(0) + workouts[i].TimeOfDay.slice(1).toLowerCase() %></td>
                    <td><%= workouts[i].Location %></td>
                </tr>
            <% } %>
        </table>
    <% } %>
</div>
<div id="exercises">
    <% if (exercises) { %>
        <h3>Exercises</h3>

        <select id="select-exercises" name="exercises">
            <option value="-1">-- Select an exercise --</option>

            <% for (var i = 0; i < exercises.length; i++) { %>
                <option value="<%= i %>"><%= exercises[i].Name + ', ' + exercises[i].Type %></option>
            <% } %>
        </select>
    <% } %>
</div>

<p><a href="/">< Home</a></p>

<% include footer %>