<% include header %>
<h2>Fitness App - <%= user.Username %>'s Home</h2>
<div id="workouts">
    <% if (workouts) { %>
        <h3>Workouts</h3>

        <table>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Time of Day</th>
                <th>Location</th>
            </tr>

            <% for (var i = workouts.length - 1; i >= 0; i--) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= workouts[i].Date %></td>
                    <td><%= workouts[i].TimeOfDay.charAt(0) + workouts[i].TimeOfDay.slice(1).toLowerCase() %></td>
                    <td><%= workouts[i].Location %></td>
                </tr>
            <% } %>
        </table>
    <% } %>
</div>
<div id="exercises">
</div>

<p><a href="/">< Home</a></p>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: "/userexercises",
            type: "POST",
            contentType: "application/json",
            processData: false,
            complete: function (data) {
                $('#exercises').html(data.responseText);
            }
        });
    });
</script>
<% include footer %>